// COLORS


//preto
$cor-preto-1: #3C3C3B;
// azul
$cor-azul-1: #7FCACF;
$cor-azul-2: #414765;
$cor-azul-3: #373C56;
$cor-azul-4: #80CACD;
$cor-azul-5: #57DCE1;
//cinza
$cor-cinza-1: #9D9D9D;
$cor-cinza-2: #82869A;
$cor-cinza-3: #EBEBEB;
$cor-cinza-4: #7F7F7F;
//verde
$cor-verde-1: #2DD348;



//

//FONTES
$font-dm: "DM Serif Display",
serif;
$font-kiwi: "Kiwi Maru",
serif;


//variaveis do projeto
$border-radius: 7px;
$shadow: 2px 2px 3px rgba(215, 215, 215, 0.1);