body,
p,
h1,
h2,
ul,
li {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

ol {
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

*::after,
*::before {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

button {
  background: initial;
  border: initial;
}
button:active {
  border-style: initial;
}
button:focus {
  outline: initial;
}

img {
  display: block;
  max-width: 100%;
}

fieldset {
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  min-inline-size: -webkit-min-content;
  min-inline-size: min-content;
  border-width: 2px;
  border-style: none;
  border-color: transparent;
  border-image: initial;
}

figure {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

:focus {
  outline: 0px transparent !important;
}

form {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
  max-width: 100%;
  margin: 20px auto 0 auto;
  background: white;
  padding: 0;
  margin-top: clamp(30px, 5vh, 45px);
  font-family: roboto, "Helvetica Neue";
}

.input__box {
  position: relative;
  width: 95%;
  height: 46px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.input__box::after {
  content: "";
  background: url("../img/done.svg");
  height: 20px;
  width: 50px;
  background-repeat: no-repeat;
  position: absolute;
  right: -20px;
}
.input__box + .input__box {
  margin-top: 3.5vh;
}
@media screen and (max-width: 1024px) {
  .input__box {
    transform: scale(0.9);
    margin-bottom: 25px;
    max-width: 90%;
    margin-top: 20px;
  }
}
.input__box input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid #EBEBEB;
  border-radius: 3px;
  background: transparent;
  padding: 11px 0;
  color: black;
  font-weight: 400;
  font-size: 1rem;
  transition: 0.5s ease;
  outline: none;
  -webkit-appearance: none;
          appearance: none;
  color: #3C3C3B;
}
@media screen and (max-width: 1024px) {
  .input__box input {
    font-size: 1.125rem;
  }
}
@media screen and (max-width: 329px) {
  .input__box input {
    font-size: 1rem;
  }
}
.input__box input[type=number]::-webkit-outer-spin-button,
.input__box input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input__box input[type=number] {
  -moz-appearance: textfield;
}
.input__box span {
  position: absolute;
  top: 5px;
  left: 0px;
  padding: 10px 0;
  display: inline-block;
  color: #82869A;
  font-family: "Kiwi Maru", serif;
  font-weight: 500;
  font-size: 0.75rem;
  transition: 0.4s ease-in-out;
  pointer-events: none;
}
@media screen and (max-width: 1024px) {
  .input__box span {
    font-size: 0.875rem;
  }
}
@media screen and (max-width: 329px) {
  .input__box span {
    font-size: 0.75rem;
  }
}
.input__box input:focus ~ span,
.input__box input:valid ~ span {
  transform: translateY(-32px) translateX(-40px);
  font-size: 12px;
  color: #82869A;
  left: 40px;
}
.input__box input:focus ~ ion-icon,
.input__box input:valid ~ ion-icon {
  color: #6f01ff;
}
.input__box ion-icon {
  position: absolute;
  top: 0px;
  bottom: 0;
  margin: auto 0;
  left: 10px;
  font-size: 20px;
  color: #3a3a3a;
}

.ultimo {
  margin-bottom: 10px;
}

textarea {
  margin: 0px;
  width: 306px;
  height: 217px;
  max-width: 300px;
  min-width: 300px;
  height: 180px;
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  border-color: #3a3a3a !important;
  resize: none;
  padding: 15px 15px;
  transition: 0.3s;
}
@media screen and (max-width: 1024px) {
  textarea {
    transform: scale(0.9);
  }
}

textarea:focus {
  border-color: black !important;
}

.submit {
  font-family: "Kiwi Maru", serif;
  padding: 10px 45px;
  letter-spacing: 0.5px;
  font-weight: 500;
  transition: background 0.3s ease-in-out;
  background: #7FCACF;
  display: inline-block;
  cursor: pointer;
  font-size: 1rem;
  max-width: 300px;
  width: 280px;
  padding: 14px 32px;
  color: #fff;
  border-radius: 25px;
  margin-top: clamp(40px, .6vh, 64px);
}
.submit:hover {
  color: #3C3C3B;
}
@media screen and (max-width: 1024px) {
  .submit {
    margin: 20px auto 60px auto;
    display: block;
    max-width: 200px;
  }
}
@media screen and (max-width: 329px) {
  .submit {
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 0.75rem;
  }
}

.remember {
  margin-left: 190px;
  margin-top: 30px;
  font-family: "Kiwi Maru", serif;
  font-size: 0.875rem;
  font-weight: 500;
  color: #7F7F7F;
}
@media screen and (max-width: 1024px) {
  .remember {
    font-size: 0.75em;
    margin: 30px auto;
  }
}

body {
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
}

.container__header {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 45% 65%;
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .container__header {
    grid-template-columns: 100%;
    grid-template-rows: 100% 0;
    overflow: auto;
  }
}

.formulario {
  display: flex;
  flex-direction: column;
  padding: 10vh;
  justify-content: flex-start;
}
@media screen and (max-width: 1024px) {
  .formulario {
    padding: 5vh;
    width: 100%;
    align-content: center;
    align-items: center;
  }
}
.formulario .formulario__inner {
  width: 100%;
  text-align: center;
}
.formulario h1 {
  font-family: "DM Serif Display", serif;
  color: #3C3C3B;
  font-size: 5rem;
  font-weight: 400;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .formulario h1 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 329px) {
  .formulario h1 {
    font-size: 3rem;
  }
}
.formulario h2 {
  color: #9D9D9D;
  font-family: "Kiwi Maru", serif;
  font-weight: 400;
  margin-top: 3vh;
  font-size: clamp(18px, 2vw, 32px);
}
.formulario .btn__container {
  background: #80CACD;
  padding: 5px;
  width: 383px;
  border-radius: 25px;
  margin: 5vh auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .formulario .btn__container {
    max-width: 100%;
  }
}
.formulario .btn__container .btn {
  font-family: "Kiwi Maru", serif;
  color: #fff;
  font-size: 1rem;
  padding: 10px 55px;
  border-radius: 25px;
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .formulario .btn__container .btn {
    width: 50%;
    text-align: center;
    font-size: 0.75rem;
    padding: 10px 32px;
  }
}
@media screen and (max-width: 329px) {
  .formulario .btn__container .btn {
    font-size: 0.625rem;
  }
}
.formulario .btn__container .btn__ativo {
  background: #fff;
  color: #414765;
}

.formulario__input {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .formulario__input {
    width: 100%;
  }
}
.formulario__input .login {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  
}
.formulario__input .cadastro {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  Display: none;
}

.azul {
  background-color: #7FCACF;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.azul .azul__img {
  margin-right: 100px;
  justify-self: center;
}
@media screen and (max-width: 1024px) {
  .azul .azul__img {
    display: none;
  }
}
.azul .azul__img img {
  max-width: 650px;
}/*# sourceMappingURL=style.comp.css.map */
